@media (min-width: 1400px){
    .banner-text h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 150px;
        font-weight: 700;
        color: #ffffff;
        text-transform: uppercase;
        padding-bottom: 125px;
    }
}

@media (min-width: 1200px) and (max-width:1399px){
    .banner-text h1 {
        font-size: 135px;
        padding-bottom: 37px;
    }
    .banner-text h2 {
        font-size: 67px;
    }
    .banner-text a {
        border: 3px solid #fff;
        padding: 9px 31px;
        font-size: 13px;
    }
}


@media (min-width: 992px) and (max-width:1199px){
    .banner-text h1 {
        font-size: 90px;
        padding-bottom: 57px;
    }
    .banner-text h2 {
        font-size: 50px;
    }
    .banner-text a {
        border: 3px solid #fff;
        padding: 13px 33px;
    }
    .about-header p {
        font-size: 21px;
        line-height: 34px;
    }
    .about-header h2 {
        font-size: 28px;
    }
    .footer-form button {
        right: -4px;
    }

}


@media(min-width:768px) and (max-width:991px){
    .navbar-nav {
        background-color: #f38181;
        text-align: center;
    }
    .navbar-expand-lg .navbar-nav .nav-item {
        padding: 0 0px;
    }

    .banner-text h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 68px;
        font-weight: 700;
        color: #ffffff;
        text-transform: uppercase;
        padding-bottom: 42px;
    }
    .banner-text h2 {
        font-family: 'Kaushan Script', cursive;
        font-size: 53px;
        font-weight: 400;
        color: #ffffff;
    }
    .banner-text a {
        font-size: 13px;
        border: 2px solid #fff;
        padding: 9px 26px;
    }
    .banner-text a::after {
        top: -27px;
    }
    #about {
        padding-top: 49px;
        padding-bottom: 108px;
    }
    .about-header h3 {
        font-size: 33px;
    }
    .about-header h2 {
        font-size: 35px;
    }
    .about-header p {
        font-size: 25px;
        line-height: 36px;
    }
    #services {
        padding-top: 53px;
    }
    .gap {
        margin-top: 0;
    }
    .comment-contant h6 {
        text-align: center;
    }
    .comment-contant p::after {
        display: none;
    }
    .comment-icon i {
        padding: 30px 30px;
    }

    .comment-contant p {
       margin-left: 0px;
        text-align: center;
    }
    .footer-form button {
        right: 316px;
    }
    .footer-form {
        padding-bottom: 55px;
    }
}

@media (min-width:576px) and (max-width:767px){
    .navbar {
        padding-top: 0 ;
        padding-bottom: 0;
    }
    .navbar-nav {
        background-color: #f38181;
        text-align: center;
    }
    .navbar-expand-lg .navbar-nav .nav-item {
        padding: 0 0px;
    }
    .banner-text h1 {
        font-size: 40px;
        padding-bottom: 13px;
    }
    .banner-text h2 {
        font-size: 40px;
    }
    .navbar-brand p {
        transform: scale(0.7);
    }
    .banner-text a {
        font-size: 13px;
        padding: 5px 15px;
        border: 2px solid #fff;
    }
    .banner-text a::after {
      display: none;
    }
    #about {
        padding-top: 25px;
        padding-bottom: 64px;
    }
    .about-header p {
        font-size: 14px;
        font-weight: 400;
        line-height: 23px;
        padding-top: 10px;
        padding-bottom: 8px;
    }
    #services {
        padding-top: 36px;
        padding-bottom: 70px;
    }
    .gap {
        margin-top: 0px;
    }
    .comment-contant h6 {
        font-size: 32px;
        text-align: center;
    }
    .comment-icon i {
        padding: 25px 25px;
    }
    .comment-contant p::after {
        display: none;
    }
    .comment-contant p {
        text-align: center;
        margin-left: 0px;
    }
    #our-team {
        padding-top: 52px;
    }
    .blog-heading h6 {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        text-transform: uppercase;
        padding-bottom: 26px;
        padding-top: 10px;
        margin-top: 10px;
    }
}


@media (max-width: 575.99px){
    .navbar {
        padding-top: 0 ;
        padding-bottom: 0;
    }
    .navbar-nav {
        background-color: #f38181;
        text-align: center;
    }
    .navbar-expand-lg .navbar-nav .nav-item {
        padding: 0 0px;
    }
    .banner-text h1 {
        font-size: 20px;
        padding-bottom: 13px;
    }
    .banner-text h2 {
        font-size: 20px;
      
    }
    .navbar-brand p {
        transform: scale(0.5);
    }
 
    .banner-text a {
        font-size: 13px;
        padding: 5px 15px;
        border: 2px solid #fff;
    }
    .banner-text a::after {
      display: none;
    }

    #about {
        padding-top: 27px;
        padding-bottom: 45px;
    }
    .about-header h3 {
        font-size: 14px;
    }
    .about-header h2 {
        font-size: 16px;
        padding-bottom: 15px;
    }
    .about-header p {
        padding-top: 14px;
        padding-bottom: 13px;
        font-size: 13px;
    }
    #services {
        padding-top: 24px;
        padding-bottom: 60px;
    }
    .services-contant h5 {
        padding-top: 15px;
    }
    .gap {
        margin-top: 0px;
    }
    .row {
        text-align: center;
      
    }
    element.style {
    display: none;
    }
    .comment-contant h6 {
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        padding-top: 10px;
    }
    .comment-icon i {
        padding: 20px 20px;
    }
    .comment-contant p::after {
       display: none;
    }
    .comment-contant p {
        margin-left: 0px;
        text-align: center;
    }
    #our-team {
        padding-top: 42px;
        padding-bottom: 22px;
    }
    #our-work {
        padding-bottom: 26px;
    }
    .footer-left-icon i {
        color: #95e1d3;
        padding-left: 4px;
        padding-right: 4px;
    }
    #footer {
        padding-top: 45px;
    }
    .footer-form input {
        width: 268px;
        padding-right: 20px;
        padding: 6px 6px 6px 6px;
    }
    .footer-form button {
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-weight: 700;
        padding: 4px 11px;
        text-transform: uppercase;
        border: none;
        background-color: #95e1d3;
        color: #fff;
        position: absolute;
        top: 60px;
        left: 0px;
    }
}

@media (min-width:480px) and (max-width:575.99px){
    .services-contant p {
        padding: 0 70px;
    }
}